body {
  margin: 0;
  text-align: center;
  background-color: #393E46;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #EEEEEE;
  width: 30%;
  margin: 0 auto;
  font-family: 'Syne Mono', monospace;
}

p {
  color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.astronaut-img {
  position: absolute;
  right: 350px;
  bottom: 100px;
}

.programmer {
  position: relative;
  right: 325px;
  bottom: 100px;
}
