body {
  margin: 0;
  text-align: center;
  background-color: #100F0F;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #F1F1F1;
  width: 30%;
  margin: 0 auto;
  font-family: 'Syne Mono', monospace;
}

p {
  color: #F1F1F1;
  font-family: 'Montserrat', sans-serif;
}

.profile {
  color: #F1F1F1;
}

.skills {
  color: #F1F1F1;
}

.contact-me {
  color: #F1F1F1
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

/*
.astronaut-img {
  position: absolute;
  right: 350px;
  bottom: 100px;
}

.programmer {
  position: relative;
  right: 325px;
  bottom: 100px;
}
*/
