body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #EEEEEE;
  width: 20%;
  margin: 0 auto;
}

p {
  color: #EEEEEE;

}


.top-container {
  background-color: #393E46;
}

.middle-container {
  background-color: #00ADB5;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: #222831;
  height: 200px;
  width: 200px;
}
